.alarmas-container {
  // padding: 16px;
  background-color: #a4c5f9;
}

.alertas-lista {
  margin: 24px 0;
}

.alertas-panel {
  background-color: #3d3d3d;
  color: white;
  border-radius: 16px;
  padding: 24px;

  .titulo {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 24px;
    color: black;
    background-color:#fef9f4;
    padding: 0.2rem 0.5rem;
    border-radius: 8px;
    max-width: 280px;
  }

  .contenido-panel {
    display: flex;
    align-items: center;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;

    .total, .completadas {
      font-size: 16px;
    }

    .botones {
      display: flex;
      flex-wrap: wrap;
      gap: 12px;

      button {
        min-width: 150px;
      }
    }
  }
}

@media (max-width: 768px) {
  .contenido-panel {
    flex-direction: column;
    align-items: center;
  }

  .info {
    align-items: center;
    text-align: center;
  }
}
