<div class="alarmas-container">
  <!-- Menú superior -->
  <app-menu
    [titulo]="'Panel de Alarmas'"
    [subtitulo]="'Gestión de alertas diarias'"
  ></app-menu>
<br>
  <!-- Panel de acciones -->
  <div class="alertas-panel">
    <div class="titulo">Panel de Control / Alarmas - Urgencias</div>

    <div class="contenido-panel">
      <app-progreso [label]="'Completadas'" [current]="porcentaje"></app-progreso>

      <div class="info">
        <div class="total">Total del día: {{ totalAlertas }}</div>
        <div class="completadas">Resueltas: {{ completadas }}</div>

        <div class="botones">
          <button mat-raised-button color="primary" (click)="abrirModalNuevaAlarma()">
            Alarma nueva
          </button>
          <button mat-raised-button color="primary" (click)="abrirModalReporteAlarmas()">
            Enviar reporte
          </button>
          <button mat-raised-button color="primary" (click)="abrirModalNotificacionAlarma()">
            Enviar notificación
          </button>

        </div>
      </div>
    </div>
  </div>
 <!-- Lista de alertas -->
  <div class="alertas-lista">
    <app-alerta></app-alerta>
  </div>

</div>
