<app-menu
  [titulo]="'Panel de control'"
  [subtitulo]="'Información general del usuario y residentes'"
></app-menu>

<div class="dashboard-columns">
  <!-- Sección usuario -->
  <div class="section">
    <div class="section-content">
      <app-usuario-card
  [nombre]="'Carlos'"
  [apellidos]="'Rodríguez Fernández'"
  [numeroEmpresas]="3"
  [imagenUrl]="'assets/img/user-placeholder.png'"
  [rol]="'Administrador'"
  [ultimoAcceso]="'18/05/2025'"
  [correo]="'carlos@residencia.com'"
></app-usuario-card>

    </div>
  </div>

  <!-- Sección residente -->
  <div class="section">
    <div class="section-content">
      <app-residente-card></app-residente-card>
    </div>
  </div>
</div>


<app-panel-control [visible]="rolUsuario === 'Administrador'"></app-panel-control>
