<div style="gap: 10px; display: flex; width: 100%;">
    <div class="card">
    <h3>PENDIENTES</h3>
    <ul>
        <li
        *ngFor="let tarea of tareas_pendientes"
        [@tareaAnimada]="estaCompletada(tarea) ? 'completada' : 'pendiente'"
        >
        <mat-checkbox
            (change)="completarTarea(tarea)"
            [disabled]="estaCompletada(tarea)"
        >
            <span class="descripcion" [class.tachado]="estaCompletada(tarea)">
            {{ tarea.descripcion }}
            </span>
        </mat-checkbox>

        <span class="horas" [class.tachado]="estaCompletada(tarea)">
            {{ formatDate(tarea.duracion_minutos) }}
        </span>

        <div class="tick-ok" *ngIf="estaCompletada(tarea)">✔</div>
        </li>
        
        <span *ngIf="tareas_pendientes.length == 0"> No hay tareas pendientes </span>
    </ul>
    </div>

    <div class="card">
    <h3>COMPLETADOS</h3>
    <ul>
        <li *ngFor="let tarea of tareas_completadas">
        <mat-checkbox checked disabled>
            <span class="descripcion tachado">{{ tarea.descripcion }}</span>
        </mat-checkbox>
        <span class="horas tachado">{{ formatDate(tarea.duracion_minutos) }}</span>
        </li>
        <span *ngIf="tareas_completadas.length == 0"> No hay tareas completadas </span>
    </ul>
    </div>
</div>
