.contenedor-alertas {
  background-color: #444;
  padding: 1rem;
  border-radius: 12px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cabecera {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titulo {
  background: white;
  color: black;
  padding: 0.2rem 0.5rem;
  border-radius: 8px;
  font-weight: bold;
}

.icono-alerta {
  font-size: 32px;
}

.pulse {
  animation: pulso 1.5s infinite;
}

@keyframes pulso {
  0% {
    color: red;
    transform: scale(1);
  }
  50% {
    color: black;
    transform: scale(1.2);
  }
  100% {
    color: red;
    transform: scale(1);
  }
}

.lista-alertas {
  background: #eee;
  color: black;
  border-radius: 12px;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
  transition: all 0.3s ease;
}

/* Animación nuevas alertas */
.nueva-alerta {
  animation: entradaNuevaAlerta 0.8s ease-out;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.6);
  border: 2px solid red;
}


@keyframes entradaNuevaAlerta {
  0% {
    transform: scale(0.9);
    background-color: #ffe5e5;
  }
  100% {
    transform: scale(1);
    background-color: #eee;
  }
}

/* Diseño responsive para móviles */
@media (max-width: 768px) {
  .lista-alertas {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 1rem;
  }

  .lista-alertas mat-checkbox {
    margin-bottom: 0.5rem;
  }

  .lista-alertas span {
    margin-bottom: 0.3rem;
  }
}