.menu-bar {
  background-color: #3e3e3e;
  color: white;
  padding: 1rem;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.menu-left {
  display: flex;
  flex-direction: column;
  min-width: 180px;

  .titulo {
    font-size: 1rem;
  }

  .subtitulo {
    font-weight: bold;
    font-size: 1.1rem;
  }
}

.menu-right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

/* Mobile styles */
@media (max-width: 600px) {
  .menu-bar {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu-right {
    width: 100%;
    flex-direction: column;
  }

  mat-form-field {
    width: 100%;
  }
}

::ng-deep .mat-mdc-form-field-subscript-wrapper{
  height: 0;
}

mat-form-field.mat-mdc-form-field::ng-deep label.mdc-floating-label, 
mat-form-field.mat-mdc-form-field::ng-deep mat-select,
mat-form-field.mat-mdc-form-field::ng-deep .mat-mdc-select-arrow svg,
mat-form-field.mat-mdc-form-field::ng-deep .mat-mdc-input-element,
mat-form-field.mat-mdc-form-field::ng-deep .mdc-icon-button 
{
    color: white;
}

