<div class="tareas-container">
  <app-menu
    [titulo]="'Lista de tareas'"
    [subtitulo]="'TO-DO'"
  ></app-menu>

  <div class="tareas-grid">
    <div class="tarea-container" style="width: 100%;">
        <app-tareas style="width: 100%;" [tareas_pendientes]="tareasPendientes" [tareas_completadas]="tareasCompletadas"></app-tareas>
    </div>
    <!--
    <div class="tarea-container">
        <app-tareas-pendientes style="width: 100%;" [tareas]="tareasPendientes"></app-tareas-pendientes>
    </div>
    <div class="tarea-container">
        <app-tareas-completadas style="width: 100%;" [tareas]="tareasCompletadas"></app-tareas-completadas>
    </div>
    -->
  </div>
</div>
