<h2 class="titulo">Últimas Notificaciones</h2>

<mat-list-item *ngFor="let notif of notificaciones">
  <div class="notificacion">
    <p><strong>Tipo:</strong> {{ notif.tipo }}</p>
    <p><strong>Mensaje:</strong> "{{ notif.contenido }}"</p>
    <p><strong>Alarma:</strong> {{ notif.alarma }}</p>
    <p><strong>Usuario:</strong> {{ notif.usuario }}</p>
    <p><strong>Residente:</strong> {{ notif.residente }}</p>
    <p><strong>Fecha:</strong> {{ notif.fecha_envio | date:'short' }}</p>
  </div>
</mat-list-item>

<div *ngIf="notificaciones.length === 0">
  <p>No hay notificaciones recientes.</p>
</div>

<div class="botones">
  <button mat-button (click)="cerrar()">Cerrar</button>
</div>
