.sidenav-container {
  height: calc(100vh - 64px);
  position: fixed;
  top: 64px;
  left: 0;
  width: 80px;
  z-index: 1;
}

.sidenav {
  width: 80px;
  background: #4A4A4A;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  overflow: hidden;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.sidenav-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  justify-content: center;
}

.sidebar-btn {
  margin: 20px auto;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #4a4a4a;
  color: white;
  transition: background-color 0.3s;

  &:hover {
    background-color: #666;
  }

  &.active {
    background-color: #fb7a02;
    color: black;
  }
}


.logo-top img,
.logo-bottom img {
  width: 48px;
  height: 48px;
  object-fit: contain;
}

.logo-top,
.logo-bottom {
  padding: 8px;
}

.menu-btn {
  display: none;
  position: fixed;
  top: 72px; 
  left: 16px;
  z-index: 1300; 
  background-color: #fb7a02;
  color: white;
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

@media (max-width: 600px) {
  .sidenav-container {
    width: 100vw;
    position: static;
    height: auto;
  }

  .sidenav {
    width: 120px;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    position: fixed;
    top: 64px; 
    left: 0;
    height: calc(100vh - 64px);
    z-index: 1200;
    overflow-y: auto;
  }

  .sidenav-list {
    align-items: flex-start;
  }

  .sidebar-btn {
    width: auto;
    padding-left: 16px;
    margin: 8px 0;
  }

  .menu-btn {
    display: block;
    top: 100px; 
    left: 16px;
  }
}