<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    [mode]="isMobile ? 'over' : 'side'"
    [opened]="!isMobile || sidenavOpened"
    (closedStart)="sidenavOpened = false"
    class="sidenav"
  >
    <div class="sidenav-content">
        <mat-nav-list class="sidenav-list">
            <button
                mat-icon-button
                class="sidebar-btn"
                routerLink="/dashboard"
                routerLinkActive="active"
                aria-label="Dashboard"
            >
                <mat-icon>home</mat-icon>
            </button>
            <button
                mat-icon-button
                class="sidebar-btn"
                routerLink="/tareas"
                routerLinkActive="active"
                aria-label="Tareas"
            >
                <mat-icon>task_alt</mat-icon>
            </button>
            <button
                mat-icon-button
                class="sidebar-btn"
                routerLink="/progreso"
                routerLinkActive="active"
                aria-label="Progreso"
            >
                <mat-icon>assignment_add</mat-icon>
            </button>
            <button
                mat-icon-button
                class="sidebar-btn"
                routerLink="/feedback"
                routerLinkActive="active"
                aria-label="Feedback"
            >
                <mat-icon>email</mat-icon>
            </button>
            <button
                mat-icon-button
                class="sidebar-btn"
                routerLink="/alertas"
                routerLinkActive="active"
                aria-label="Alertas"
            >
                <mat-icon>feedback</mat-icon>
            </button>
        </mat-nav-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <button
      mat-icon-button
      class="menu-btn"
      *ngIf="isMobile"
      (click)="openSidenav(sidenav)"
    >
      <mat-icon>menu</mat-icon>
    </button>

    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
