.feedback-container {
  //padding: 16px;
  background-color: #a4c5f9;
}

.section {
  background-color: #3d3d3d;
  color: white;
  padding: 16px;
  border-radius: 12px;
  margin-bottom: 24px;
}

.section-header {
  background-color: #fef9f4;
  color: black;
  padding: 8px 16px;
  border-radius: 12px;
  font-weight: bold;
  margin-bottom: 16px;
  display: inline-block;
}

.progress-row {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}

.carga-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
  flex-direction: row;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.button-group-horizontal {
  display: flex;
  gap: 12px;

  @media (max-width: 768px) {
    flex-direction: column;
    width: 100%;
    align-items: center;

    button {
      width: 90%;
    }
  }
}

.section-duo {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  flex-wrap: wrap;

  .section {
    flex: 1;
    min-width: 320px;
  }
}
