<div class="feedback-container">
  <!-- Menú superior -->
  <app-menu
    [titulo]="'Reporte tareas turno'"
    [subtitulo]="'Panel de acciones'"
  ></app-menu>

  <br>

<!-- Contenedor doble para pendientes y completadas -->
<div class="section-duo">
  <!-- Tareas Pendientes -->
  <div class="section">
    <div class="section-header">Tareas pendientes</div>
    <div class="progress-row">
      <app-progreso [label]="'Mañana'" [current]="tareasPendientes[0]"></app-progreso>
      <app-progreso [label]="'Tarde'" [current]="tareasPendientes[1]"></app-progreso>
      <app-progreso [label]="'Noche'" [current]="tareasPendientes[2]"></app-progreso>
    </div>
  </div>

  <!-- Tareas Completadas -->
  <div class="section">
    <div class="section-header">Tareas Completadas</div>
    <div class="progress-row">
      <app-progreso [label]="'Mañana'" [current]="tareasCompletadas[0]"></app-progreso>
      <app-progreso [label]="'Tarde'" [current]="tareasCompletadas[1]"></app-progreso>
      <app-progreso [label]="'Noche'" [current]="tareasCompletadas[2]"></app-progreso>
    </div>
  </div>
</div>

<!-- Panel de acciones -->
<div class="section">
  <div class="section-header">Panel de acciones</div>
  <div class="carga-row">
    <!-- Progress a la izquierda -->
    <app-progreso [label]="'Total Día'" [current]="cargaTrabajo"></app-progreso>

    <!-- Botones a la derecha -->
    <div class="button-group-horizontal">
      <button mat-raised-button color="primary" (click)="abrirModalReporteTareas()">
        Enviar reporte
      </button>
      <button mat-raised-button color="primary" (click)="abrirModalPeticionDia()">
        Enviar Petición Día
      </button>
      <button mat-raised-button color="primary" (click)="abrirModalReporteDia()">
        Enviar del día
      </button>

    </div>
  </div>
</div>