<h2>Reporte de Tareas del Día</h2>

<mat-form-field appearance="fill" class="full-width">
  <mat-label>Selecciona un día</mat-label>
  <input matInput [matDatepicker]="picker" [(ngModel)]="fechaSeleccionada">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<div class="button-group">
  <button mat-raised-button color="primary" (click)="enviarReporte()" [disabled]="!fechaSeleccionada">
    Enviar
  </button>
  <button mat-button (click)="cancelar()">Cancelar</button>
</div>
