.progreso-container {
  padding: 16px;
  color: #333;
}

.section {
  background-color: #3d3d3d;
  color: white;
  padding: 16px;
  margin-bottom: 24px;
  border-radius: 12px;
}

.section-header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 12px;
}

.progress-row {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}

.workload-section .workload-card {
  display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent; 
    color: white;
    border-radius: 12px;
    padding: 16px;
    margin-top: 12px;
    gap: 32px;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

.workload-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: white;

  .titulo {
    //font-weight: bold;
    font-size: 16px;
    margin-bottom: 4px;
  }

  .linea {
    font-size: 14px;
  }

  .porcentaje {
    //font-weight: bold;
    color: #fb7a02;
  }
}

.nombre {
  //font-weight: bold;
  font-size: 16px;
}

.descripcion {
  font-size: 14px;
  color: #666;
}

.porcentaje {
  font-size: 20px;
  font-weight: bold;
  color: #fb7a02;
}

.section-duo {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  flex-wrap: wrap;

  .section {
    flex: 1;
    min-width: 300px;
  }
}
