.card {
  background-color: #fef9f4;
  padding: 24px;
  border-radius: 12px;
  width: 400px;
  max-width: 500px;
  box-sizing: border-box;
}


h3 {
  text-align: center;
  margin-bottom: 16px;
  font-size: 18px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  color: #aaa; 
  text-decoration: line-through; 
}

.horas {
  //font-weight: bold;
  margin-left: 24px; 
  flex-shrink: 0; 
  color: #aaa; 
}

.descripcion {
  color: #aaa;
  text-decoration: line-through;
}
